#main{
    padding: unset;
    width: unset;
}

#logout{
    margin-left: 25vw;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 5px;
}

.gameContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#black-logs {
    margin-left: 10px;
}


#white-logs {
    margin-right: 10px;
}


@media (max-width: 1000px) {
    .gameContainer {
        flex-direction: column;
        justify-content: center;
    }
    .gameContainer-center{
        order: 0;
        justify-content: center;
        margin-left: 8vw;
    }
    .gameContainer-left {
        order: 1;
    }
    .gameContainer-right{
        order: 1;
        margin-left: 0;
    }
    #black-logs {
        margin-left: 0;
    }
    #white-logs {
        margin-right: 0;
    }
}

#black-logs, #white-logs {
    box-shadow: 1px 1px 5px #555 inset;
    border-radius: 5px;
    border: 2px solid #805229;
    padding: 15px;
    max-width: 585px;
    max-height: 750px;
}

.area-log{
    max-height: 75vh;
    overflow: scroll;
}

.canvasContainer {
    margin-bottom: 20px;
    max-width: 100%
}

div#player-score-box {
    background-color: #805229;
    word-break: break-word;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

p.player-score {
    font-size: 20px;
}

p#player-black {
    color: #000000;
}


p#player-white {
    color: #ffffff;
}

#canvas {
    cursor: pointer;
    width: 75vw;
    height: 75vw;
    max-height: 75vh;
    max-width: 75vh;
}

.btn {
    background-color: #805229;
    color: white;
}
.modal-dialog, .modal-content {
    /* 80% of window height */
    height: 80%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    overflow-y: auto;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
}

/* Clear floats after the columns */
.row{
    display: flex;
    height: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    #input_parseable {
        margin-top: 50px;
    }

}

textarea {
    width: 100%;
    height: 100%;
}


.modal-xl {
    max-width: 1300px;
}

.err_log {
    color: #ff2600;
}
