.selectize-input {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: transparent;
    color: #805229;
    border: #a06633 2px solid;
    padding: 2%;
    width: 100%;
}

.selectize-dropdown {
    color: #805229;
    border: #a06633 2px solid;
    font-size: 16px;
}

.form-group input{
    width: 24vh;
}

h6 {
    text-align: center;
}