{% extends 'base.html' %}
{% load static %}
{% block title %}Othello: Tournaments{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/tournaments/management.css' %}">
    <script type="text/javascript" src="{% static 'js/tournaments/create.js' %}"></script>
{% endblock %}
{% block main %}
    <div class="align-content-center playform">
        <form action="{% url 'tournaments:management' %}" method="post">
            {% csrf_token %}
            <p>
                {{ form.start_time.label }}
                {{ form.start_time }}
            </p>
            <p>
                {{ form.end_time.label }}
                {{ form.end_time }}
            </p>
            <p class="row" style="margin-left: 0; margin-bottom: 0">
                {{ form.include_users.label }}
                {{ form.include_users }}
            </p>
            <p>
                =OR=
            </p>
            <p>
                Exclude Users:
                <input type="file" id="includeUsersFile" name="Upload CSV">
                <i id="inlude_users_file_help" class="fa fa-question-circle"></i>
            </p>
            <input type="submit">
        </form>
    </div>
{% endblock %}