{% extends 'base.html' %}
{% load static %}
{% block title %}Othello: Tournaments{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/tournaments/create.css' %}">
    <script type="text/javascript" src="{% static 'js/tournaments/create.js' %}"></script>
    <style>
        .selectize-control {
            width: 10vw;
        }
        #user_group .selectize-input{
            overflow-y: scroll;
            height: 25vh !important;
            width: 20vw;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="row">
        <div class="align-content-center col-lg-7">
            <form action="{% url 'tournaments:create' %}" method="post">
                {% csrf_token %}
                <p>
                    {{ form.start_time.label }}
                    {{ form.start_time }}
                </p>
                <p>
                    {{ form.num_rounds.label }}
                    {{ form.num_rounds }}
                </p>
                <p>
                    {{ form.game_time_limit.label }}
                    {{ form.game_time_limit }}
                </p>
                <p>
                    {{ form.runoff.label }}
                    {{ form.runoff }}
                    <i class="fa fa-question-circle" id="runoff-help"></i>
                </p>
                <p class="row" style="margin-left: 0; margin-bottom: 0">
                    {{ form.bye_player.label }}
                    {{ form.bye_player }}
                    <i class="fa fa-question-circle" id="bye-help"></i>
                </p>
                <br>
                <br>
                <p class="row" style="margin-left: 0">
                    {{ form.pairing_algorithm.label }}
                    {{ form.pairing_algorithm }}
                </p>
                <p id="user_group" class="row" style="margin-left: 0; margin-bottom: 0">
                    {{ form.include_users.label }}
                    {{ form.include_users }}
                </p>
                <p>
                    =OR=
                </p>
                <p>
                    Include Users:
                    <input type="file" id="includeUsersFile" name="Upload CSV">
                    <i id="include_users_file_help" class="fa fa-question-circle"></i>
                </p>
                <input type="submit">
            </form>
        </div>
        <div class="align-content-center col-lg-5" id="right-side">
            <div style="height: 40%">
                <h4>In Progress Tournaments</h4>
                <ul>
                    {% for tournament in in_progress %}
                        <li><a href="{% url 'tournaments:manage' tournament.id %}">Tournament #{{ tournament.id }} @ {{ tournament.start_time }}</a></li>
                    {% empty %}
                        <li>No Tournaments Currently Running</li>
                    {% endfor %}
                </ul>
            </div>
            <div style="height: 40%">
                <h4>Scheduled Tournaments</h4>
                <ul>
                    {% for tournament in future %}
                        <li><a href="{% url 'tournaments:manage' tournament.id %}">Tournament #{{ tournament.id }} @ {{ tournament.start_time }}</a></li>
                    {% empty %}
                        <li>No Tournaments Scheduled</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
