{% extends 'base.html' %}
{% load static %}
{% block title %}Othello: Tournaments{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/tournaments/management.css' %}">
    <script type="text/javascript" src="{% static 'js/tournaments/create.js' %}"></script>
{% endblock %}
{% block main %}
    <div class="row">
        <div class="align-content-center col-lg-7">
            <form action="{% url 'tournaments:create' %}" method="post">
                {% csrf_token %}
                <p>
                    {{ form.start_time.label }}
                    {{ form.start_time }}
                </p>
                <p>
                    {{ form.num_rounds.label }}
                    {{ form.num_rounds }}
                </p>
                <p>
                    {{ form.game_time_limit.label }}
                    {{ form.game_time_limit }}
                </p>
                <p class="row" style="margin-left: 0; margin-bottom: 0">
                    {{ form.bye_player.label }}
                    {{ form.bye_player }}
                </p>
                <br>
                <br>
                <p class="row" style="margin-left: 0; margin-bottom: 0">
                    {{ form.include_users.label }}
                    {{ form.include_users }}
                </p>
                <p>
                    =OR=
                </p>
                <p>
                    Include Users:
                    <input type="file" id="includeUsersFile" name="Upload CSV">
                    <i id="inlude_users_file_help" class="fa fa-question-circle"></i>
                </p>
                <input type="submit">
            </form>
        </div>
        <div class="align-content-center col-lg-5">
            <div style="height: 50%">
                <h4>In Progress Tournaments</h4>
                <ul>
                    {% if not in_progress %}
                        <li>No Tournaments Currently Running</li>
                    {% else %}
                        {% for tournament in in_progress %}
                            <li><a href="{% url 'tournaments:manage' tournament.id %}">Tournament #{{ tournament.id }} @ {{ tournament.start_time }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div style="height: 50%">
                <h4>Scheduled Tournaments</h4>
                <ul>
                    {% if not future %}
                        <li>No Tournaments Scheduled</li>
                    {% else %}
                        {% for tournament in future %}
                            <li><a href="{% url 'tournaments:manage' tournament.id %}">Tournament #{{ tournament.id }} @ {{ tournament.start_time }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}