{% extends 'base.html' %}
{% block title %}Othello: View Rankings{% endblock %}
{% block main %}
    {% if not tournament %}
        <h5>No Tournaments Are Currently Running</h5>
    {% else %}
        <h4 style="text-decoration: underline">Tournament #{{ tournament.id }}</h4>
        <h6>Started at: {{ tournament.start_time }}</h6>
        <h6>{{ players|length }} Players Participating</h6>
        <h6>Rounds (Played/Remaining): {{ tournament.played }}/{{ tournament.num_rounds }}</h6>
        <h6>Game Time Limit: {{ tournament.game_time_limit }}s</h6>
        <h6></h6>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Ranking</th>
                        <th>User</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in page_obj %}
                    <tr>
                        <td>{{ player.0|add:1 }}</td>
                        <td>{{ player.1 }}</td>
                        <td>{{ player.1.ranking }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if page_obj.has_other_pages %}
                <ul class="pagination">
                    <li><a href="?page=1">&laquo;First</a></li>
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&lsaquo;Previous</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">Next&rsaquo;</a></li>
                    {% endif %}
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">Last&raquo;</a></li>
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
