[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "==1.3.1"
amqp = "==2.5.2"
asgiref = "==3.2.7"
async-timeout = "==3.0.1"
attrs = "==19.3.0"
autobahn = "==20.4.1"
Automat = "==20.2.0"
billiard = "==3.6.3.0"
celery = "==4.4.2"
certifi = "==2020.4.5.1"
cffi = "==1.14.0"
channels = "==2.4.0"
channels-redis = "==2.4.2"
chardet = "==3.0.4"
constantly = "==15.1.0"
cryptography = "==3.2"
daphne = "==2.4.1"
defusedxml = "==0.6.0"
Django = "==3.0.7"
django-celery-results = "==1.2.1"
hiredis = "==1.0.1"
hyperlink = "==19.0.0"
idna = "==2.9"
incremental = "==17.5.0"
kombu = "==4.6.8"
msgpack = "==0.6.2"
oauthlib = "==3.1.0"
psutil = "==5.7.0"
psycopg2 = "==2.8.5"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.20"
PyHamcrest = "==2.0.2"
PyJWT = "==1.7.1"
pyOpenSSL = "==19.1.0"
python3-openid = "==3.1.0"
pytz = "==2019.3"
redis = "==3.4.1"
requests = "==2.23.0"
requests-oauthlib = "==1.3.0"
service_identity = "==18.1.0"
six = "==1.14.0"
social-auth-app-django = "==3.1.0"
social-auth-core = "==3.3.3"
sqlparse = "==0.3.1"
Twisted = "==20.3.0"
txaio = "==20.4.1"
urllib3 = "==1.25.8"
vine = "==1.3.0"
"zope.interface" = "==5.0.2"
sentry-sdk = "*"
django-extensions = "*"
ipython = "*"

[dev-packages]
flake8 = "~=3.8.2"
pylint = "~=2.5.2"
isort = "~=4.3.21"
black = "==19.10b0"
typed-ast = "~=1.4.1"  # Required by black, but Pipenv doesn't pull it in correctly on 3.8
autopep8 = "~=1.5.2"
mypy = "~=0.770"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
