{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block main %}
      <p>
        This is a simple web app to run the TJHSST Othello AI Tournament.
      </p>
      <p>
        You can pit AIs against each other, upload your own AI, or even play against an existing AI.
      </p>
      <p>
        For more information on the specifics of uploading see <a href="{% url 'auth:about' %}">About Uploading</a>
      </p>
      <p>
        If you have any questions about the api or the website in general, please email <a href="mailto:othello@tjhsst.edu">othello@tjhsst.edu</a> or your current AI teacher.
      </p>
      <p>
        Website design and additional graphics by 
        <a href="https://williamoconnell.me">William O'Connell</a>.
      </p>
{% endblock %}