{% extends "games/base.html" %}
{% load static %}
{% block header %}Play Othello{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/selectize.min.css' %}"/>
<style>
div.selectize-input, div.selectize-dropdown {
  color:#805229;
  border:#a06633 2px solid;
  font-size: 16px;
}
</style>
{% endblock %}

{% block extra_extra_js %}
<script src="{% static 'js/selectize.min.js' %}"></script>
{% endblock %}
{% block request_url %}{% url 'ai_list' %}{% endblock %}
{% block request_callback %}putConfigToPage{% endblock %} 