{% extends "base.html" %}
{% load static %}
{% block title %}Othello: Upload{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <script type="text/javascript" src="{% static 'js/upload.js' %}"></script>
{% endblock %}

{% block main %}
    {% if success %}
        <h3>You have uploaded your AI successfully!</h3><br>
        <p>
            To edit your file, simply reupload another Python file (it will automatically be renamed strategy.py).
        </p>
        <p>
            For more information see <a href="{% url 'games:help' %}">About Uploading</a>.
        </p>
        {% else %}
            <h4>You are logged in as {{ user.username }}.</h4>
            <br>
            <p>
              Before uploading, please read <a href="{% url 'games:help' %}">About Uploading</a> carefully. It will save you many headaches.
            </p>
            <div class="row">
                <div id="first-form" class="column">
                    <form action="{% url 'games:upload' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input id="new_action" type="hidden" name="action" value="new_submission">
                        <p>
                            {{ submission_form.name.label }}
                            {{ submission_form.name }}
                            <i id="name-help" class="fa fa-question-circle"></i>
                        </p>
                        <p>
                            {{ submission_form.code.label }}
                            {{ submission_form.code }}
                        </p>
                        <input type="submit" value="Upload File" name="submit">
                    </form>
                </div>
                <div id="second-form" class="column">
                    <form action="{% url 'games:upload' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input id="change_action" type="hidden" name="action" value="change_submission">
                        <p>
                            {{ change_form.new_script.label }}
                            {{ change_form.new_script }}
                        </p>
                        <input id="submit_change_script" type="submit" value="Change Running Script" name="submit">
                        <button id="download_script" type="button">Download Script</button>
                    </form>
                </div>
            </div>
    {% endif %}
{% endblock %}