services:
  othello_postgres:
    container_name: othello_postgres
    image: postgres:latest
    environment:
    - POSTGRES_DB=othello
    - POSTGRES_USER=othello
    - POSTGRES_PASSWORD=pwd
    volumes:
    - othello_pgdata:/var/lib/postgresql
    ports:
    - "5432:5432"
    networks:
    - othello_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U othello -d othello"]
      interval: 5s
      timeout: 5s
      retries: 5
  othello_redis:
    container_name: othello_redis
    image: redis:latest
    expose:
    - "6379"
    networks:
    - othello_network
  othello_django:
    container_name: othello_django
    image: othello_django
    build:
      context: ../../
      dockerfile: config/docker/Dockerfile
    ports:
    - "8000:8000"
    depends_on:
      othello_postgres:
        condition: service_healthy
      othello_redis:
        condition: service_started
    volumes:
    - ../../:/app
    working_dir: /app
    networks:
    - othello_network
    entrypoint:
      [
        "/bin/sh",
        "-c",
        "/app/config/docker/entrypoint.sh"
      ]
  othello_celery:
    container_name: othello_celery
    image: othello_django
    depends_on:
      othello_postgres:
        condition: service_healthy
      othello_redis:
        condition: service_started
    volumes:
    - ../../:/app
    working_dir: /app
    networks:
    - othello_network
    entrypoint:
      [
          "/bin/sh",
          "-c",
          "uv run celery --app othello worker -l INFO -Ofair"
      ]
  othello_gamequeue:
    container_name: othello_gamequeue
    image: othello_django
    depends_on:
      othello_postgres:
        condition: service_healthy
      othello_redis:
        condition: service_started
    volumes:
    - ../../:/app
    working_dir: /app
    networks:
    - othello_network
    entrypoint:
      [
          "/bin/sh",
          "-c",
          "uv run celery --app othello worker -l INFO -Ofair --concurrency=2 -Q game_queue"
      ]
volumes:
  othello_pgdata:
networks:
  othello_network:
    driver: bridge