<br>
--
    <table>
        <tr>
            <td style="padding: 5px 10px; max-width: 100px">
                <img src="{{ base_url }}/static/favicon.png" alt="Othello logo">
            </td>
            <td>
            <p style="font-size: 9pt">
                This is an automated message sent from the <a style="color: #a06633" href="{{ base_url }}">TJ Othello Tournament Server</a>.<br>
            </p>
            </td>
        </tr>
    </table>

  <p style="font-size: 9pt; color: gray">
    Thomas Jefferson High School for Science and Technology<br>
    6560 Braddock Road<br>
    Alexandria, VA, 22312<br>
    (703) 750-8300
  </p>
</div>
