{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title id="title">{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
  </head>
  <body>
        <div class="container-fluid navbar-container">
            <nav class="navbar navbar-expand-md">
                <div class="header">
                    <a class="navbar-brand" href="{% url 'auth:index' %}">Othello</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Play</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Watch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tournaments</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
  </body>
{#  <body>#}
{#    <div class="top" id="top">#}
{#      <div class="header" id="header">#}
{#        <p id="home">Othello</p>#}
{#        <div id="expandbutton">#}
{#            <img src="{% static 'img/menu.svg' %}" alt="menu" />#}
{#        </div>#}
{#      </div>#}
{#      <div class="linkbar-container">#}
{#        <nav class="linkbar" id="linkbar">#}
{#          <a href="{% url 'auth:index' %}">Home</a>#}
{#          <a href="{% url 'games:about' %}">About</a>#}
{#          <a href="{% url 'games:help' %}">Help</a>#}
{#          <a href="{% url 'games:upload' %}">Upload</a>#}
{#          <a href="{% url 'games:play' %}">Play</a>#}
{#          <a href="{% url 'auth:index' %}">Watch</a>#}
{#          <a href="{% url 'auth:index' %}">Tournaments</a>#}
{#        </nav>#}
{#      </div>#}
{#    </div>#}
{#    <div class="main" id="text">#}
{#      {% block main %}{% endblock %}#}
{#      {% if user.is_authenticated %}#}
{#        <p class="logout">{{ user.username }} <a class="logout" href="{% url 'auth:logout' %}">Logout</a></p>#}
{#      {% endif %}#}
{#    </div>#}
{#    <script src="{% static 'js/base.js' %}"></script>#}
{#    {% block extra_js %}{% endblock %}#}
{#  </body>#}
</html>