{% extends "base.html" %}
{% load js %}
{% load static %}

{% block title %}Othello: {{ request.resolver_match.url_name|title }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/games/base.css' %}">
    <script type="text/javascript" src="{% static 'js/games/play/canvas.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/games/play/othello.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/games/play/board.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/games/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/games/play/socket.js' %}"></script>
    <script type="text/javascript">
        const game = JSON.parse('{{ game|store }}');
        const is_watching = JSON.parse('{{ is_watching|store }}')
    </script>
{% endblock %}


{% block main %}
    <div class="gameContainer" id="gameContainer">
        <div class="gameContainer-left col area-log-container" id="black-logs" data-toggle="tooltip" title="Click to collapse">
            <div id="black-logs-area" class="area-log">
                <h3 style="text-decoration: underline">Black Logs</h3>
            </div>
        </div>
        <div class="gameContainer-center col">
            <div class="canvasContainer">
                <canvas id="canvas">
                    This browser is incompatible
                </canvas>
                <div id="player-score-box" class="centered">
                    <p id="player-black" class="player-score"></p>
                    <p style="visibility: hidden">WWW</p>
                    <p id="player-white" class="player-score"></p>
                </div>
            </div>
            <div class="downloadHistory">
                <button id="downloadHistoryButton" type="button" data-toggle="modal" data-target="#downloadModal">Download Game</button>
            </div>
        </div>
        <div class="gameContainer-right col area-log-container" id="white-logs" data-toggle="tooltip" title="Click to collapse">
            <div id="white-logs-area" class="area-log">
                <h3 style="text-decoration: underline">White Logs</h3>
            </div>
        </div>
    </div>
    <div class="modal fade" id="downloadModal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Download Game</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="column" id="input_pretty">
                            <h4>
                                <label for="pretty">Pretty  <i id="pretty-help" class="fa fa-question-circle" style="font-size: 24px"></i></label>
                                <button id="pretty_download" class="download_history">Download</button>
                            </h4>
                                <textarea id="prettyHistory" disabled></textarea>
                        </div>
                        <div class="column" id="input_parseable">
                            <h4>
                                <label for="parseable">Parseable  <i id="parseable-help" class="fa fa-question-circle" style="font-size: 24px"></i></label>
                                <button id="parseable_download" class="download_history">Download</button>
                            </h4>
                                <textarea id="parseableHistory" disabled></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}