{% extends "base.html" %}
{% load static %}
{% block title %}Othello: Play{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/games/design.css' %}">
    <script type="text/javascript" src="{% static 'js/games/design.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="container-fluid centered">
        <div class="playform align-content-center">
            <form action="{% url "games:play" %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.black.label_tag }}
                    <i class="fa fa-question-circle yourself" id="black-help"></i>
                    <br>
                    {{ form.black }}
                </div>
                <div class="form-group">
                    {{ form.white.label_tag }}
                    <i class="fa fa-question-circle yourself" id="white-help"></i>
                    <br>
                    {{ form.white }}
                </div>
                <div class="form-group">
                    {{ form.time_limit.label_tag }}
                    {{ form.time_limit }}
                </div>
                {{ form.runoff }}
                "Good Citizen" Timing
                <i class="fa fa-question-circle" id="runoff-help"></i>
                <br><br>
                <input type="submit" value="Start Match!"/>
            </form>
        </div>
    </div>
{% endblock %}