{% extends "base.html" %}
{% block title %}Othello: About Uploading{% endblock %}
{% block header %}About Uploading{% endblock %}
{% block main %}
    <h3>
        File specification
    </h3>
    <p>
        A valid Othello AI consists of a Python file, version 3.8.2, with a class called <code>Strategy</code> containing a method called <code>best_strategy</code> taking the arguments <code>board, player, best_move, still_running</code> in that order. <code>best_move</code> and <code>still_running</code> are <code>multiprocessing.Value</code> objects, and can be changed using <code>best_move.value=34</code> for example. <code>still_running</code> is another <code>multiprocessing.Value</code> flag, initially set to 1, then set to 0 by the server when the time limit for the AI is almost up.
    </p>
    <p>
         Note: Your script will be automatically cut off regardless of whether or not your code uses the <code>still_running</code> variable
    </p>
    <p>
        You do not need to import the <code>multiprocessing</code> library to access these objects
    </p>
    <p>
        The board will be a length-64 string of characters from the set <code>{'.', 'x', 'o'}</code>. This represents an 8x8 board of blanks <code>'.'</code>. The player strings are <code>'x'</code> for black and <code>'o'</code> for white. A move is an integer representing the index in the board string where the current player will place a piece.
    </p>
    <h5 style="text-decoration: underline">
        Scripts submitted before the 2020-21 school year are now invalid!
    </h5>
    <p>
        Students who submitted before the 2020-21 school year must now revise their code to recognize the 8x8 board(instead of the previous 10x10 board) and resubmit their script.
    </p>
    <h3>
        Logging
    </h3>
    <p>
        In addition to the specifications listed above, your <code>Strategy</code> class may contain a <code>logging</code> variable. This variable, if used, should be defined inside <code>Strategy</code>'s constructor, or outside any class method.
        For instance, <code>logging</code> cannot be defined in the <code>best_strategy</code> method of your <code>Strategy</code> class.
    </p>
    <p>
        If set to <code>True</code>, you will see the output of any <code>print</code> statements on either side of the board when playing your script.
        Output for scripts that are playing as black will appear on the left-hand side of the Othello board while the output for scripts that are playing as white will appear on the right-hand side of the Othello board.
    </p>
    <p>
        If you omit the <code>logging</code> variable in your <code>Strategy</code> class, it will be assumed that you do not wish to output any <code>print</code> statements.
    </p>
    <p>
        Warning: If you set <code>logging = True</code> in your <code>Strategy</code> class, you will only be able to view your logging output only if you are currently logged in. If logged in, you will be able to see your logs whenever your script is being played, including if you are watching your script. Unauthenticated users and users who do not own the running script will not be able to view the logs.
    </p>
    <h3>
        Example code
    </h3>
    <p>
        To get you started, here is the most basic form of AI, random choice:
    <pre>
        <code>
import random
import time

class Strategy():
    # implement all the required methods on your own
    logging = True # turns on logging
    def best_strategy(self, board, player, best_move, running):
        time.sleep(1)
        if running.value:
            best_move.value = random.choice(self.legal_moves(board, player))
        </code>
    </pre>
    </p>
    <h3>
        Multiple files
    </h3>
    <p>
        You may submit code any amount of times, and the Othello server will record and store all your submissions. If you wish, you may retrieve any previously submitted script from the upload page.
    </p>
    <p>
        In addition to retrieving previously submitted scripts, you now have the option to set a previously submitted script as the "running" script.
        This means you can tell the Othello server to run a specific script that you previously submitted, instead of the most recently submitted script, when playing your code against other users.
    </p>
    <p>
        You can access this feature, along with retrieving past submissions on the <a href="{% url 'games:upload' %}">Upload Page</a>.
    </p>
    <p>
        Note: If you choose to set a previous script as "running" instead of the most recent submission, that decision will be overwritten the next time you submit a script.
        Meaning, every time you upload a script, that script will automatically become the "running" script.
    </p>
    <p>
        Note: When uploading a script, you will be given an option to attach a "name" or "label" to that script.
        Adding a "name" to your script will make it easier to identify previous submissions if you wish to retrieve them later.
        If omitted, your script's "name" will default to the time it was submitted.
    </p>
    <h3>
        Running Multiple Files
    </h3>
    <p>
        As of now the Othello server will only run the script that is set to "running".
        You should try to put all your code in a single file and upload that file.
        Any files created by your code will persist between runs and games.
        If you do in fact need other files for your code to work, and it is infeasible to include it in one file, contact <a href="mailto:othello@tjhsst.edu">othello@tjhsst.edu</a> or your AI teacher about your situation.
    </p>
    <p>
        Note: When your code is uploaded, it is stored under a different, randomly-generated filename. Submitting two Python files and expecting to be able to import the other file by name is infeasible.
    </p>
    <h3>
        Other Info
    </h3>
    <p>
        If you code fails to return a move, returns an invalid move, or errors for whatever reason, it will be treated as a forfeit.
        As such, make sure you code works on your computer before using this website to test against other AIs.
        Just as a reminder, if your code is caught cheating during the tournament in any way, you <b>will</b> be caught and given an integrity violation, so just don't do it.
    </p>
{% endblock %}