{% extends "base.html" %}
{% load static %}

{% block title %}Queue{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'js/games/queue.js' %}"></script>
{% endblock %}

{% block main %}
<h1>Running Matches</h1>
{% with query_params=request.GET.urlencode %}
<div class="mb-3">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="myMatchesCheckbox" {% if my_matches_only %}checked{% endif %}>
        <label class="form-check-label" for="myMatchesCheckbox">
            Show only my matches
        </label>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Player 1 (Δ)</th>
            <th>Score</th>
            <th>Player 2 (Δ)</th>
            <th>Ranked?</th>
            <th>Status</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody id="matches" class="small">
        {% for match in page_obj %}
        <tr class="match" data-match-id="{{ match.id }}">
            <td class="align-middle">
                {{ match.player1.user.username }}
                {% if match.status == 'completed' and match.player1_rating_delta %}
                    <span class="rating-delta {% if match.player1_rating_delta > 0 %}delta-win{% elif match.player1_rating_delta < 0 %}delta-loss{% else %}delta-tie{% endif %}">({% if match.player1_rating_delta > 0 %}+{% endif %}{{ match.player1_rating_delta }})</span>
                {% endif %}
            </td>
            <td class="align-middle score-column">
                {% if match.status == 'completed' %}
                    {% if match.player1_wins > match.player2_wins %}
                        <span class="result-circle result-win">W</span>
                    {% elif match.player1_wins < match.player2_wins %}
                        <span class="result-circle result-loss">L</span>
                    {% else %}
                        <span class="result-circle result-tie">T</span>
                    {% endif %}
                    <span class="score">{{ match.player1_wins }} - {{ match.ties }} - {{ match.player2_wins }}</span>
                    {% if match.player2_wins > match.player1_wins %}
                        <span class="result-circle result-win">W</span>
                    {% elif match.player2_wins < match.player1_wins %}
                        <span class="result-circle result-loss">L</span>
                    {% else %}
                        <span class="result-circle result-tie">T</span>
                    {% endif %}
                {% else %}
                    <span class="result-circle result-tie">-</span>
                    <span class="score">? - ? - ?</span>
                    <span class="result-circle result-tie">-</span>
                {% endif %}
            </td>
            <td class="align-middle">
                {{ match.player2.user.username }}
                {% if match.status == 'completed' and match.player2_rating_delta %}
                    <span class="rating-delta {% if match.player2_rating_delta > 0 %}delta-win{% elif match.player2_rating_delta < 0 %}delta-loss{% else %}delta-tie{% endif %}">({% if match.player2_rating_delta > 0 %}+{% endif %}{{ match.player2_rating_delta }})</span>
                {% endif %}
            </td>
            <td class="align-middle">{% if match.is_ranked %}Yes{% else %}No{% endif %}</td>
            <td class="align-middle">
                {{ match.get_status_display }}
                {% if match.status == 'completed' %}
                    {% comment %} {% if user == match.player1.user or user == match.player2.user %}
                        <a href="{% url 'games:match_replay' match.id %}">(Replay)</a>
                    {% endif %} {% endcomment %}
                {% endif %}
            </td>
            <td class="align-middle">{{ match.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endwith %}
{% endblock %}