{% extends "base.html" %}
{% load js %}
{% load static %}

{% block title %}Othello: {{ request.resolver_match.url_name|title }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/games/base.css' %}">
    <script type="text/javascript" src="{% static 'js/games/canvas.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/games/board.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/games/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/games/replay/replay.js' %}"></script>
    <style>
        .modal-dialog .modal-content {
            height: fit-content;
        }
    </style>
{% endblock %}


{% block main %}
    <div class="gameContainer" id="gameContainer">
        <div class="gameContainer-left col area-log-container" id="black-logs" data-toggle="tooltip" title="Double click to collapse">
            <div id="black-logs-area" class="area-log">
                <h3 style="text-decoration: underline">Black Logs</h3>
            </div>
        </div>
        <div class="gameContainer-center col">
            <div class="canvasContainer">
                <canvas id="canvas">
                    This browser is incompatible
                </canvas>
                <div id="player-score-box" class="centered">
                    <p id="player-black" class="player-score"></p>
                    <p style="visibility: hidden">WWW</p>
                    <p id="player-white" class="player-score"></p>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <button id="reuploadButton" type="button" data-toggle="modal" data-target="#replayModal" onclick="clearErrors()">Reupload Game File</button>
                    </div>
                    <div class="col-md-auto">
                        <button id="stepBack" disabled>Step Back</button>
                        <button id="stepForward" disabled>Step Forward</button>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="gameContainer-right col area-log-container" id="white-logs" data-toggle="tooltip" title="Double click to collapse">
            <div id="white-logs-area" class="area-log">
                <h3 style="text-decoration: underline">White Logs</h3>
            </div>
        </div>
    </div>
    <div class="modal fade" id="replayModal">
        <div class="modal-dialog modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Upload Game File</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body container">
                    <div class="row-sm">
                        <h4>Select Format</h4>
                    </div>
                    <div class="row-sm">
                        <label>
                            <input id="replayParseable" type="radio" name="editList" value="always" checked/>  Parseable
                        </label>
                        <label>
                            <input id="replayPretty" type="radio" name="editList" value="never"/>   Pretty
                        </label>
                    </div>
                    <div class="row-sm">
                        <input type="file" id="replayFile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="submitReplay" type="button" class="btn" data-dismiss="modal">Submit Replay</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
