{% extends 'base.html' %}
{% load static %}
{% block title %}Othello: Watch{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/games/design.css' %}">
    <script type="text/javascript" src="{% static 'js/games/design.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="container-fluid centered">
        <div class="playform align-content-center">
            <h6>
                Select a game to watch  <i id="watch-help" class="fa fa-question-circle"></i>
            </h6>
            {% for game in games %}
                <a href="{% url 'games:watch' game_id=game.id %}">
                    {% if game.is_tournament %}
                        <b style="color: #33a122">Tournament Game: </b>
                    {% endif %}
                    {{ game }}
                </a>
                <br>
            {% empty %}
                <p>There are no games currently playing</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
