{% extends 'base.html' %}
{% load static %}
{% block title %}Othello: Watch{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/games/play/design.css' %}">
    <script type="text/javascript" src="{% static 'js/games/play/design.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="container-fluid centered">
        <div class="playform align-content-center">
            {% for game in games %}
                <a href="{% url 'games:watch' game_id=game.id %}">{{ game }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}