.gameContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.gameContainer-left {
    margin-right: 10px;
}

.gameContainer-right {
    margin-left: 10px;
}

.canvasContainer {
    margin-bottom: 20px;
}

div#player-score-box {
    background-color: #805229;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p.player-score {
    font-size: 20px;
}

p#player-black {
    color: #000000;
}


p#player-white {
    color: #ffffff;
}

#canvas {
    cursor: pointer;
    width: 75vw;
    height: 75vw;
    max-height: 75vh;
    max-width: 75vh;
}

.btn {
    background-color: #805229;
    color: white;
}
.modal-dialog, .modal-content {
    /* 80% of window height */
    height: 80%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    overflow-y: auto;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
}

/* Clear floats after the columns */
.row{
    display: flex;
    height: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    #input_parseable {
        margin-top: 50px;
    }

}

textarea {
    width: 100%;
    height: 100%;
}


.modal-xl {
    max-width: 1300px;
}

#err_log {
    color: #ff2600;
}
.log pre {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}